*{
    margin: 0;
    border: 0
    ;
}
h1, h2, p{
    padding-top: 20px;
    padding-right: 8px;
    padding-bottom: 20px;
    padding-left: 8px;

}
header{
   text-align: center;
   background-color: bisque;
}
main, section, footer {
    background-color: blanchedalmond;
}
h1, h2{
    text-align: center;
    flex-wrap: nowrap;
}
h1{
    color: darkblue;
}
h2{
    color: blue;
}
a:link{
    text-decoration: none;
}
section{
    text-align: center;
}